numpy==1.24.4
pydicom
pandas
matplotlib
tqdm
opencv-python
connected-components-3d
dicom2nifti
torchio
tqdm
scikit-image
pyyaml
torchsummary
seaborn
matplotlib
pandas
nibabel
pytest
tensorboard
PyWavelets


